<%= form_for(@seating) do |f| %>
  <% if @seating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seating.errors.count, "error") %> prohibited this seating from being saved:</h2>

      <ul>
      <% @seating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
