<h1>New msg</h1>

<%= render 'form' %>

<table border cellspacing=4 width="25%"> 
<% mymsg = Msg.last %>
<% index = mymsg.id %>
<% for i in 1..index %>
<% currentmsg = Msg.find(i) %>
	<tr>
	<td>
	<%= currentmsg.msg_text%>
	</td>
	</tr>
<% end %>

</table>   


<%= link_to 'Back', lgseatings_path %>
