<html>
<title>Class Room Seating</title> 
<% user = Users.find(session[:user_id]) %>
<h5>Welcome, <%= user.username %></h5>
<br /> 
<h1>Classroom Seating</h1>  
<table border cellspacing=4 width="100%"> 
<br /><br /> FRONT OF CLASS <br /> 
<% for i in 1..5 %>
 	<tr>
	<% for j in 1..9 %>
	<td>
	<% if j == 5 %>
	BLANK CELL
	<% else %>
	Student <%= i; %> <%= j; %><br /><%= link_to 'Select Seat', :controller => "loginseatings"  %>
	<% end %> 			
	</td> 		
	<% end %> 	
	</tr> 
	<% end %> 
	</table>   
	<br />  
</html>

